/* section Home  */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #005b9849, #582a39ab);
}

.flex {
  color: white;
}
.name {
  color: tomato;
}
.text {
  padding-left: 50px;
}
