html,
body {
  margin: 0;
  padding: 0;

  background-color: black;
}
h1 {
  font-size: 32px;
  font-family: fantasy;
}
.main-title {
  padding-left: 39px;
}
img {
  height: 100%;
  width: 100%;
}
.container::-webkit-scrollbar {
  width: 12px;
  background: #efefef;
}
.container::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 5px;
}

/* section Home  */
section {
  min-height: 68vh;
}
.flex {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 205px;
}
.name {
  color: tomato;
}
.father-about {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  padding: 5px;
  box-sizing: border-box;
}
.image {
  border-radius: 8px;
}
.card {
  background-color: black;
}
.button-abot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  border-radius: 10px;
  color: tomato;
  background-color: black;
}
