html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
p {
  text-align: center;
}
span {
  font-weight: 50px;
}
h1 {
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
  min-height: 100vh;
  border-bottom: solid white;
}
img {
  height: 100%;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.margin-bottom {
  margin-bottom: 19px;
}
.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.min-w-100-vh {
  min-height: 100vh;
}
.font-weight-500 {
  font-weight: 500;
}
/* Spaces */
.space-top {
  margin-top: 10px;
}
.space-top-lg {
  margin-top: 30px;
}
.margin-0 {
  margin: 0;
}
/* Fonts */
.text-primary {
  color: tomato;
}
.text-secondary {
  color: #080808;
}
.text-center {
  text-align: center;
}

/* Position */
.position-relative {
  position: relative;
}
